@import "~Styles/theme";
@import "~Styles/const";

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  min-width: fit-content;

  @media screen and (min-width: @mobile-s-width) {
    width: calc(31.25vw + 100px);
  }

  @media screen and (min-width: 1280px) {
    width: 500px;
  }
}

.scoreboard__body{
  background-color: @active-button-color;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.th {
  text-align: left;
  padding: 8px;
}

.td {
  text-align: left;
  padding: 8px;
  border: 1px solid #cccccc;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}

.paginator {
  margin-top: 1vh;
}
