@import "~Styles/theme";
@import "~Styles/const";

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  min-width: fit-content;

  @media screen and (min-width: @mobile-s-width) {
    width: calc(31.25vw + 100px);
  }

  @media screen and (min-width: 1280px) {
    width: 500px;
  }
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.th {
  text-align: center;
  padding: 8px;
}

.td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #bd9457;
  border-top: 1px solid #bd9457;
}

.paginator {
  margin-top: 1vh;
}
