.menu {
  position: relative;
  height: 100%;
}


.vk-share {
  right: 1vh;
  bottom: 1vh;
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("../../../images/vk.svg");
  background-size: cover;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 475px){
  .vk-share {
    width: 30px;
    height: 30px;
  }
}


@media screen and (min-width: 1024px){
  .vk-share {
    width: 45px;
    height: 45px;
  }
}
