:root {
    --cell-size: 64px;
    --board-size: 512px; /* = 64 * 8 */
}

.board {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (orientation: landscape) {
        border: solid black;
        height: 80vh;
        width: 80vh;
    }

    @media screen and (orientation: portrait) {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 100vw;
    }
}

.column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
