body {
    font-family: arial, sans-serif;
}

.menu__button {
    text-decoration: none;
    color: initial;

    text-align: center;
    background-color: lightgray;

    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 2px;
    width: 128px;
}

.menu,
.signin,
.signup {
    height: 400px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__button_hidden {
    display: none !important;
}

.signup_form {
    padding: 6px;
}

.signup__input {
    width: 80%;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-width: 1px;
    border-radius: 2px;
}

.signup__warning {
    margin-top: -5px;
    font-size: 13px;
    margin-bottom: 5px;
    color: red;
}

.signup__warning_hidden {
    display: none;
}

.signup__submit {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 2px;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
    border-radius: 0.2rem;
}

.signup__submit:hover {
    border-color: #3e8e41;
    background-color: #3e8e41;
}

.signup__submit:focus {
    display: none;
}

.signup__input_warning {
    outline: red auto 3px;
}

.signup__input_warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);

}

.signup__back-button {
    background-color: #e7e7e7;
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    border: 2px solid #e7e7e7;
    border-radius: 0.2rem;
    display: inline-block;
}

.signup__back-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.signin__form {
    text-align: center;
}

.signin__input {
    width: 80%;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.signin__submit {
    background-color: lightgray;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px 2px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #cccccc;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}