body, html {
    font-family: arial, sans-serif;
    margin: 0!important;
    height: 100%;
}

#page {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'header header header' 'menu menu menu' ;
    background: linear-gradient(45deg, rgb(216, 201, 154) 25%,transparent 26%,transparent 75%,rgb(216, 201, 154) 76%),
            linear-gradient(-45deg, rgb(216, 201, 154) 25%,transparent 26%,transparent 75%,rgb(216, 201, 154) 76%);
    background-size: 100px 100px;
    background-color: rgba(216, 201, 154, 0.89);
    transition: background-size 2s;
    animation-name: backgroud-animation;
    animation-duration: 500s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes backgroud-animation {
    from {
        background-position-x: 0%;
        background-position-y: 0%;
    }
    to {
        background-position-x: 100%;
        background-position-y: 100%;
    }

}
@media (min-width: 320px) {
    #page {
        background-size: 150px 150px;
    }
}

@media (min-width: 425px) {
    #page {
        background-size: 200px 200px;
    }
}

@media (min-width: 768px) {
    #page {
        background-size: 250px 250px;
    }
}

@media (min-width: 1024px) {
    #page {
        background-size: 300px 300px;
    }
}

.wrapper {
    all: unset;
}

.main {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header {
    grid-area: header;
}

/*common*/

.button {
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background: transparent;
}

.input {
    width: 80%;
    font-size: 16px;
    padding: 10px 20px;
    border-width: 1px;
    border-radius: 2px;
}

.warning {
    font-size: 13px;
    color: red;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.game {
    height: 700px;
    margin-top: -320px;
}

.text-h1 {
    font-size: 1.5rem;
}


.text-h2 {
    font-size: 1.2rem;
}
/* 0.8 rem
   1 rem
*/
.text-base {
    font-size: 0.8rem;
}

/*
	y = m*x + b
	m = (x2 - x1)(y2 - y1)
	b = y0 - x0 * m

	calc(m * 100vh + b)
*/

@media (min-width: 320px) {
    .text-h2 {
        font-size: calc(1.9vw + 0.72rem);
    }

    .text-h1 {
        font-size: calc(4.17vw + 0.66875rem);
    }

    .text-base {
        font-size: calc(0.33vw + 0.73rem);
    }
}

@media (min-width: 1280px) {
    .text-h2 {
        font-size: 2.25rem;
    }

    .text-h1{
        font-size: 4rem;
    }

    .text-base {
        font-size: 1rem;
    }
}


/*signup components*/

.signup__form {
    padding: 6px;
    display: flex;
    flex-direction: column;
}

.signup__input {
    margin-bottom: 10px;
    margin-top: 10px;
}

.signup__warning {
    margin-top: -5px;
    margin-bottom: 5px;
}

.signup__submit {
    margin-top: 10px;
    margin-right: 2px;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
    border-radius: 0.2rem;
}

.signup__submit:hover {
    border-color: #3e8e41;
    background-color: #3e8e41;
}

.signup__submit:focus {
    display: none;
}

.signup__input_warning {
    outline: red auto 3px;
}

.signup__input_warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);

}

.signup__back-button {
    background-color: #e7e7e7;
    color: black;
    margin-top: 10px;
    border: 2px solid #e7e7e7;
    border-radius: 0.2rem;
}

.signup__back-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

@keyframes label-animation {
    0% {
        color: #e7e7e7;
    }
    10% {

    }
    90% {

    }
    100% {
        color: #bd9457;
    }
}

/* profile */

.profile {
    width: 700px;
    flex-direction: row;
    margin-left: -350px;
    justify-content: space-between;

}

.profile-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.profile__data {
    margin-right: 10px;
}

.profile__avatar {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profile__img {
    border: 1px solid gray;
    border-radius: 3px;
}

.profile__edit-button {
    width: 50px
}

.profile__info {
    flex: 4;
}

.profile__form{
    padding-bottom: 5px;
}

/*table*/

.table {
    border-collapse: collapse;
    width: 100%;
}

.td, .th {
    border: 1px solid #cccccc;
    text-align: left;
    padding: 8px;
}

.tr:nth-child(even) {
    background-color: #dddddd;
}