body {
    font-family: arial, sans-serif;
}

.menu__button {
    text-decoration: none;
    color: initial;

    text-align: center;
    background-color: lightgray;

    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 2px;
    width: 128px;
}

.menu,
.signin{
    height: 400px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__button-hide{
    display :none !important;
}

.signin__form {
    text-align: center;
}

.signin__input {
    width: 80%;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.signin__submit {
    background-color: lightgray;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px 2px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #cccccc;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}