.profile {
  width: 700px;
  flex-direction: row;
  margin-left: -350px;
  justify-content: space-between;

}

.profile-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.profile__data {
  margin-right: 10px;
}

.profile__avatar {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile__img {
  border: 1px solid gray;
  border-radius: 3px;
}

.profile__edit-button {
  width: 50px
}

.profile__info {
  flex: 4;
}

.profile__form{
  padding-bottom: 5px;
}