.dropdown-content {
    display: none;
    flex-direction: column;
    right: var(--dropdown-padding);
    position: absolute;
    height: fit-content;
    width: fit-content;
}

.dropdown-content_active {
    display: flex;
}

.dropdown-content__button {
    font-size: 1.2rem;
    text-align: right;
    background-color: #FFFFF2;
    color: #6e4c1a;
    opacity: 0;
    transition: background-color 1s, transform 0.5s, box-shadow 1s, opacity 0.5s;
}

.dropdown-content__button_active {
    opacity: 1;
}

.dropdown-content__button:hover {
    background-color: #FFCF99;
    transform: scale(1.05, 1.05);
    box-shadow: 0px 3px 4px 0px #5b595826, 0px -3px 4px 0px #5b595826;
}