@input-height: 5vh;

.send-form__input {
  height: @input-height;
  width: 100%;
}

.send-form__send {
  align-self: stretch;
}

.chat__messages {
  padding-bottom: @input-height;
}

.chat {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.send-form {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: lightgray;
}

.chat__header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: lightgray;
  border-color: darkgray;
  border-style: solid;
  border-left-color: transparent;
}

.chat__header__tab {
  border-style: solid;
  border-color: lightgray;
}

.chat__header__tab__button {
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  background-color: white;
}

.chat__header__tab__button-close {
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  background-color: lightcoral;
}
